<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<title>Giggles Preschool</title>
		<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="mystyle.css">
	</head>
	<body>
		<!--Start of header code-->
		<header class="container">
			<div id="header">
				<!--Logo-->
				<a href="index.html"><img class="logo" src="loginc1.png" alt="Giggle Preschool"/></a>
			</div>
		</header>
		<!--header ends-->
		<!--main form starts-->
		<div class="container">
			<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 formSection" id="loginForm"> 
				<div class="formcover">
        			
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form action="" class="justify-content-center">
                        	<br/>
                        	<h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:white">Log In</h1>
                        	<br/>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" placeholder="Your username">
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="sr-only">Password</label>
                                <input type="password" class="form-control" placeholder="Your password">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            	<span class="col-lg-5 col-md-5 col-sm-4 col-xs-4">
                            		<a href="signupform.html"><p style="font-size: 20px; color:#fff">Signup?</p></a>
                            	</span>
                            	<button type="submit" class="submitBtn btn btn-default btn-lg col-lg-2 col-md-2 col-sm-3 col-xs-3">Login</button>
                            	<span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            		<a href="forgotpassword.html"><p style="font-size: 20px; color:#fff">Forgot password?</p></a>
                            	</span>
                            </div>
                            
                            <br/>
                        </form>
                    </div>
                </div>
			</div>
		</div>
		<!--ends-->
	</body>
</html>