<link rel="stylesheet" href="../../css/profile.css">
	
		<!--Start of header code-->
		<header class="container">
			<div class="myNav col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myNav">
				<div class="header-img-link col-lg-2 col-md-2 col-sm-7 col-xs-7">
					<a href="#" class="active">
						<span><img class="header-img" src="../../images/mascot.png"></span>Giggles Preschool
					</a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-5 col-xs-5">
					<a style="float: right;cursor: pointer;" ng-click="logout()">Log Out</a>
				</div>			
			</div>
		</header>
		<!--header ends-->
		<!--mascot greet-->
		<div class="container">
			<!--Add mascot image here-->
			<a href="index.html"><img class="logo" src="../../images/teacherdashboard.png" alt="Giggle Preschool"/></a>
			
		</div>
		<!--Profile Banner-->
		<div class="container profileteacher">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2>Mary Ann
					<button type="button" class="btn btn-link btn-xs"><i class="fa fa-edit"></i></button>
					</h2>
					<br/>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<p>Birthday: 1 Nov</p>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
						<p>Phone: 9191123456</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<p>Email: maryann@gmail.com</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
						<p>Address: 1234 Acorn Rd, Bryan, TX 77805</p>
					</div>
				</div>
			</div>
		</div>
		<!--profile banner ends-->
		<!--Forms and stuff starts-->
		<!--profile banner ends-->
		<!--Forms and stuff starts-->
		<div class="container profilesection col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container panel-group" id="accordion">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Student List</a>
			        </h1>
			      </div>
			      <div id="collapse1" class="panel-collapse collapse in">
			        <div class="panel-body">
			        	<button type="submit" class="btn greenpills btn-sm">Take Attendance</button>
			        	
			        	<!-- change table-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table">
						    <thead>
						      <tr>
						        <th>Student ID - View Profile</th>
						        <th>Student Name</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr><td>R0505CRN01</td><td>Rachel Greene</td></tr>
						      <tr><td>H2406CRN01</td><td>Harish Krishnamoorty</td></tr>
						      <tr><td>R1807CRN01</td><td>Ranjith Melow</td></tr>
						      <tr><td>B1602CRN01</td><td>Bjon Borg</td></tr>
						      <tr><td>M0308CRN01</td><td>Mike Mizanion</td></tr>
						      <tr><td>H1512CRN01</td><td>Hardy Sandhu</td></tr>
						      <tr><td>G1309CRN01</td><td>Gippy Grewal</td></tr>
						      <tr><td>J1504CRN01</td><td>John Bradshaw</td></tr>
						      <tr><td>P25010CRN01</td><td>Prakash Padukone</td></tr>
						      <tr><td>A1204CRN01</td><td>Amir Khan</td></tr>
						    
						    </tbody>
						  </table>
						 </div>
			        	<!--table ends-->
			        </div>
			      </div>
			    </div>

			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Events</a>
			        </h1>
			      </div>
			      <div id="collapse2" class="panel-collapse collapse in">
			         <div class="panel-body">
			        	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<label for="monthFormControlSelect">Month:</label>
								<select class="form-control" id="exampleFormControlSelect1">
								  <option>January</option>
								  <option>February</option>
								  <option>March</option>
								  <option>April</option>
								  <option>May</option>
								  <option>June</option>
								  <option>July</option>
								  <option>August</option>
								  <option>September</option>
								  <option>October</option>
								  <option>November</option>
								  <option>December</option>
								</select>
							  </div>
							  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
								<label for="yearFormControlSelect">Year:</label>
								<select class="form-control" id="exampleFormControlSelect2">
								  <option>2003</option>
								  <option>2004</option>
								  <option>2005</option>
								  <option>2006</option>
								  <option>2007</option>
								  <option>2008</option>
								  <option>2009</option>
								  <option>2010</option>
								  <option>2011</option>
								  <option>2012</option>
								  <option>2013</option>
								  <option>2014</option>
								  <option>2015</option>
								</select>
							  </div>
							  

							  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 2.7%;">
							  	<!-- create new event -->
							  	<button type="button" class="btn btn-warning">Check</button>
								<a href="#createEvent" class="btn greenpills btn-sm" data-toggle="modal" style="float: right"><i class="fa fa-plus"></i> <span>Create Event</span></a>
							  </div>
							</form>	        	
			       		</div>
			        	
			        	<!--events panel-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table">
						    <thead>
						      <tr>
						        <th>Name</th>
						        <th>Description</th>
						        <th>Date</th>
						        <th>Time</th>
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
						    	<tr>
						    		<td>Monica Birthday</td>
						    		<td>We will be celebrating birthday of Monica</td>
						    		<td>March 03 2020</td>
						    		<td>2:00 PM </td>
						    		<td>
						    			<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-edit"></span> 
										</button>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-remove"></span> 
										</button>
									</td>
								</tr>
								<tr>
						    		<td>Painting Competition</td>
						    		<td>Get Ready! We are going to find the best painters!</td>
						    		<td>March 04 2020</td>
						    		<td>1:00 PM </td>
						    		<td>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-edit"></span> 
										</button>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-remove"></span> 
										</button>
									</td>
								</tr>
								<tr>
						    		<td>Craft for environment</td>
						    		<td>Let's join together and use our imagination to make a better world</td>
						    		<td>March 05 2020</td>
						    		<td>12:00 PM </td>
						    		<td>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-edit"></span> 
										</button>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-remove"></span> 
										</button>
									</td>
								</tr>
						      
						    
						    </tbody>
						  </table>
						 </div>
			        	<!--event ends-->
			      </div>
			    </div>

			     <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Check messages</a>
			        </h1>
			      </div>
			      <div id="collapse3" class="panel-collapse collapse in">
			        <div class="panel-body">
						<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
						  <button class="btn greenpills btn-sm">Received</button>
						  <button class="btn greenpills btn-sm">Sent</button>
						  <!-- add new message -->
						  <button class="btn greenpills btn-sm" style="float: right"><a href="#addMessageModal" data-toggle="modal"><i class="fa fa-plus"></i> <span>Compose Message</span></a></button>
						</div>
						
												
						
			        	
			        	
			        	<!-- change table-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table">
						    <thead>
						      <tr>
						        <th>Date</th>
						        <th>Message</th>
						        <th>Recepient</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>Feb 02 2020</td>
						        <td>Hi, I see that Rachel is not in today. Is everything well?</td>
						        <td>Rachel Greene</td>
						      </tr>
						      <tr>
						        <td>Jan 20 2020</td>
						        <td>Hi, Thank you for letting us know of Rachel's absence. Hope she feels well soon.</td>
						        <td>Rachel Greene</td>
						      </tr>
						      <tr>
						        <td>Jan 01 2020</td>
						        <td>Hi, Thank you for joining us for New Year Celebration. Hope you had a great time. Please let us know on how we can improve.</td>
						        <td>Rachel Greene</td>
						      </tr>
						      
						    </tbody>
						  </table>
						</div>
			        	<!--table ends-->
			        </div>
			      </div>
			    </div>
			      
			</div>
		</div>
		<!--profile ends-->
		<!--contact -->
		<div id="contact" class="contact container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Where to find us:</h3>
				<p>4231 Acorn Rd <br>
					 Bryan, TX 77123</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Call us on:</h3>
				<p>+1 (979) 123-456 <br>
					+1 (979) 123-457
				</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Contact Name:</h3>
				<p>Team 17</p>
			</div>
		</div>

		<!--contact ends-->
		
		<!-- Compose Message Modal HTML -->
	<div id="addMessageModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Compose Message</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Username:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Subject:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Message:</label>
							<input type="text" class="form-control" required>
						</div>											
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Create Event Modal HTML -->
	<div id="createEvent" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Compose Message</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Title:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Subtitle:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Description:</label>
							<input type="text" class="form-control" required>
						</div>	
						<div class="form-group">
							<label>Date:</label>
							<input type="date" class="form-control" required>
						</div>							
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	
