<link rel="stylesheet" href="../../css/profile.css">
	
		<!--Start of header code-->
		<header class="container">
			<div class="myNav col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myNav">
				<div class="header-img-link col-lg-2 col-md-2 col-sm-7 col-xs-7">
					<a href="#" class="active">
						<span><img class="header-img" src="../../images/mascot.png"></span>Giggles Preschool
					</a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-5 col-xs-5">
					<a style="float: right;cursor: pointer;" ng-click="logout()">Log Out</a>
				</div>			
			</div>
		</header>
		<!--header ends-->
		<!--mascot greet-->
		<div class="container">
			<!--Add mascot image here-->
			<a href="index.html"><img class="logo" src="../../images/teacherdashboard.PNG" alt="Giggle Preschool"/></a>
			
		</div>
		<!--Profile Banner-->
		<div class="container profileteacher">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2>{{user.FirstName}} {{user.LastName}}<button type="button" class="btn btn-link btn-xs"><i class="fa fa-edit"></i></button></h2><br/>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<p>Birthday: {{user.BirthDate | limitTo: 10 }}</p>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<p>Phone: {{user.PhoneNo}}</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<p>Email: {{user.Email}}</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<p>Address: {{user.Address}}</p>
					</div>
				</div>
			</div>
		</div>
		<!--profile banner ends-->
		<!--Forms and stuff starts-->
		<!--profile banner ends-->
		<!--Forms and stuff starts-->
		<div class="container profilesection col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container panel-group" id="accordion">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Student List</a>
			        </h1>
			      </div>
			      <div id="collapse1" class="panel-collapse collapse in">
			        <div class="panel-body">
			        	<button type="submit" class="btn greenpills btn-sm">Take Attendance</button>
			        	
			        	<!-- change table-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table">
						    <thead>
						      <tr>
						        <th>Student Name</th>
						        <!-- <th>Action</th> -->
						      </tr>
						    </thead>
						    <tbody>
							     <tr ng-repeat="student in students">
							      	<td>{{student.FirstName}} {{student.LastName}}</td>
							      	<!-- <td>
							      		<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
									</td> -->
								 </tr>
						    </tbody>
						  </table>
						 </div>
			        </div>
			      </div>
			    </div>

			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Events</a>
			        </h1>
			      </div>
			      <div id="collapse2" class="panel-collapse collapse in">
			         <div class="panel-body">
			        	<div class="panel-body">
			        	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<a href="#createEvent" class="btn greenpills btn-sm" data-toggle="modal" style="float: right"><i class="fa fa-plus"></i> <span>Create Event</span></a>    	
			       		</div>
			        	
			        	<!--events panel-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table">
						    <thead>
						      <tr>
						        <th>Name</th>
						        <th>Class</th>
						        <th>Description</th>
						        <th>Date</th>
						        <th>Time</th>
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
						    	<tr ng-repeat="event in events">
						    		<td>{{event.EventName}}</td>
						    		<td>{{event.ClassNo}}
						    		<td>{{event.EventDesc}}</td>
						    		<td>{{event.EventDate  | limitTo: 10}}</td>
						    		<td>{{event.EventTime}}</td>
						    		<td>
						    			<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-edit"></span> 
										</button>
										<button type="button" class="btn btn-default btn-sm">
										  <span class="glyphicon glyphicon-remove"></span> 
										</button>
									</td>
								
						    </tbody>
						  </table>
						 </div>
			        	<!--event ends-->
			      </div>
			    </div>

			     <div class="panel panel-default">
			      <div class="panel-heading">
			        <h1 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Check messages</a>
			        </h1>
			      </div>
			      <div id="collapse3" class="panel-collapse collapse in">
			        <div class="panel-body">

						<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
						  <button class="btn greenpills btn-sm" ng-click="getRecMessages">Received</button>
						  <button class="btn greenpills btn-sm" ng-click="getSentMessages">Sent</button>
						  <!-- add new message -->
						  <button class="btn greenpills btn-sm" style="float: right"><a href="#addMessageModal" data-toggle="modal"><i class="fa fa-plus"></i> <span>Compose Message</span></a></button>
						</div>
			        	<!-- change table-->
			        	<div class="mytable container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        	 <table class="table" ng-show="receive">
						    <thead>
						      <tr>
						        <th>Date</th>
						        <th>Message</th>
						        <th>Sender</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="rec in receivedmess">
						        <td>{{rec.CreateDate | limitTo:10}}</td>
						        <td>{{rec.NotifyDesc}}</td>
						        <td>{{rec.UserID}}</td>
						      </tr>				      
						    </tbody>
						  </table>
						  <table class="table" ng-show="!receive">
						    <thead>
						      <tr>
						        <th>Date</th>
						        <th>Message</th>
						        <th>Recepient</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="sent in sentmess">
						        <td>{{sent.CreateDate | limitTo:10}}</td>
						        <td>{{sent.NotifyDesc}}</td>
						        <td>{{sent.RecipientID}}</td>
						      </tr>				      
						    </tbody>
						  </table>
						</div>
			        	<!--table ends-->
			        </div>
			      </div>
			    </div>
			      
			</div>
		</div>
		<!--profile ends-->
		<!--contact -->
		<div id="contact" class="contact container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Where to find us:</h3>
				<p>4231 Acorn Rd <br>
					 Bryan, TX 77123</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Call us on:</h3>
				<p>+1 (979) 123-456 <br>
					+1 (979) 123-457
				</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Contact Name:</h3>
				<p>Team 17</p>
			</div>
		</div>

		<!--contact ends-->
		
		<!-- Compose Message Modal HTML -->
	<div id="addMessageModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Compose Message</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Username:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Subject:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Message:</label>
							<input type="text" class="form-control" required>
						</div>											
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Create Event Modal HTML -->
	<div id="createEvent" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Compose Message</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Title:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Subtitle:</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Description:</label>
							<input type="text" class="form-control" required>
						</div>	
						<div class="form-group">
							<label>Date:</label>
							<input type="date" class="form-control" required>
						</div>							
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
	
